@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
a:hover {
	text-decoration: none;		
}
html { font-size: 62.5%; } 
body { font-size: 16px; font-size: 1.6rem; font-family: 'Source Sans Pro', sans-serif;} 
footer {text-align: center; padding: 32px;}
h1, h2, h3, h4, h5, h6 {margin: 0; margin-bottom: 16px;text-align: left; font-family: 'Press Start 2P', sans-serif;
color: #FE2;
text-shadow: -1px 1px #F92672, -2px 2px #F92672, -3px 3px #F92672;
text-transform: uppercase;
}
h2 {
	font-size: 32px; font-size: 3.2rem;
}
h3 {
	font-size: 20px; font-size: 2.0rem;
}
h4 {
	font-size: 16px; font-size: 1.6rem;
}
p {text-align: justify;}

.navbar {
	background: #000;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-collapse {
	padding: 0;
}

.navbar-inverse .navbar-brand {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 20px; font-size: 2.0rem;
	color: #FE2;
	text-align: center;
	text-shadow: -1px 1px #F92672, -2px 2px #F92672, -3px 3px #F92672;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
	color: #FF0;
}

.navbar-toggle {
	color: #EEE;
}

.nav li {
	text-transform: uppercase;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 11px; font-size: 1.1rem;
	color: #EEE;
	text-shadow: 0px 1px #111, 0px 2px #111;
}

.nav>li>a {
	padding-left: 0;
	color: #FEFEFE !important;
	font-size: 14px; font-size: 1.4rem;
	text-align: center;
	margin: 0 auto;
}


.skyDay {
	background: #49C;
	padding-top: 100px;
	padding-bottom: 100px;
}

.groundDay {
	border-top: 4px solid #65D96B;
	background: #43B749;
	padding-top: 32px;
	padding-bottom: 32px;
}

.homeTitle, .homeSubtitle {
	font-family: 'Press Start 2P', sans-serif;
	color: #EEE;
	text-shadow: 0px 1px #111, 0px 2px #111;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

.homeTitle {
	font-size: 48px; font-size: 4.8rem; animation: fadein 2s;-moz-animation: fadein 2s; /* Firefox */-webkit-animation: fadein 2s; /* Safari and Chrome */-o-animation: fadein 2s; /* Opera */
}

.homeSubtitle {
	font-size: 24px; font-size: 2.4rem;
	display: block;
	padding-top: 8px; animation: fadein 2s;-moz-animation: fadein 2s; /* Firefox */-webkit-animation: fadein 2s; /* Safari and Chrome */-o-animation: fadein 2s; /* Opera */
}

.mainBody {
	margin-top: 50px;  animation: fadein 2s;-moz-animation: fadein 2s; /* Firefox */-webkit-animation: fadein 2s; /* Safari and Chrome */-o-animation: fadein 2s; /* Opera */
}

.posts {
	list-style: square;
}


/*Banner CSS*/
.banner {
	margin: 0 0 16px 0;
	padding: 16px;
	color: #FEFEFE;
	width: 100%;
	display: block;
	text-align: center;
	font-style: normal;
	text-transform: uppercase;
}

.twitter {
	background: #4099FF;
	border-bottom: 2px solid #2077DD;
	text-shadow: 1px 1px #2077DD;
}

.googleplus {
	background: #D34836;
	border-bottom: 2px solid #B12614;
	text-shadow: 1px 1px #B12614;
}

.github {
	background: #9DDAEF;	
	border-bottom: 2px solid #7BB8CD;
	text-shadow: 1px 1px #7BB8CD;
}