@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

.title > a {
	color: inherit;
}
.title > a:hover {
	color: #FE2;
}
a {
	color: #F92672;
}
a:hover {
	color: #B50230;
	text-decoration: none;
}
html { font-size: 62.5%; }
body { background: #FEFEFE; font-size: 16px; font-size: 1.6rem; font-family: 'Lato', 'Fira Sans Light', 'Coconut', 'Open Sans', Arial, sans-serif; font-weight: 300; -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);}
footer {text-align: center; background: #222; border-top: 2px solid #000; color: #FEFEFE; padding: 0; margin: 0; margin-top: 64px;}
h1, h2, h3, h4, h5, h6 {margin: 0; margin-top: 32px; margin-bottom: 32px;text-align: left; font-family: 'Press Start 2P', 'Fira Sans Bold', 'Copperplate', 'Copperplate Gothic Light', 'Open Sans', Arial, sans-serif;
color: #FE2;
text-shadow: -1px 1px #F92672, -2px 2px #F92672, -3px 3px #F92672;
text-transform: uppercase;
}
h2 {
	font-size: 32px; font-size: 3.2rem;
}
h3 {
	font-size: 20px; font-size: 2.0rem;
}
h4 {
	font-size: 16px; font-size: 1.6rem;
}
hr {
	margin: 32px 0;
}
li {list-style: square;}
p {text-align: justify; line-height: 2.36rem}
.latest-blog {
	display: block;
	padding-bottom: 16px;
}
.name-year {
  margin-top: 32px;
  text-align: center;
}
.navbar {
	background: #222;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	font-family: 'Press Start 2P', 'Fira Sans Bold', 'Copperplate', 'Copperplate Gothic Light', 'Open Sans', Arial, sans-serif;
	font-size: 1.6px; font-size: 1.6rem;
	color: #FE2 !important;
	text-shadow: -1px 1px #F92672, -2px 2px #F92672, -3px 3px #F92672;
	padding: 16px 8px;
	padding-right: 16px;
}

.navbar-collapse {
	padding: 0;
	padding-top: 2px;
}

.navbar-header {
	padding-left: 8px;
}

.navbar-nav>li>a:hover, .navbar-brand:hover {
	color: #FE2 !important;
}

.navbar-toggle {
	color: #EEE;
	border-radius: 0;
	margin-right: 8px !important;
}

.nav li {
	text-transform: uppercase;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 16px; font-size: 1.6rem;
	color: #EEE;
	text-shadow: 0px 1px #111, 0px 2px #111;
}

.nav>li>a {
	padding-left: 0;
	color: #FEFEFE !important;
	font-size: 16px; font-size: 1.6rem;
	text-align: center;
	margin: 0 auto;
}
.recent-posts li {
  list-style: none !important;
  text-align: left;
}
.skyDay {
	background-color: #4AE;
	background-image: url(../assets/bg.png);
	background-attachment: fixed;
	background-position: center center;
	padding-top: 100px;
  	padding-top: 35vh;
	padding-bottom: 100px;
  	padding-bottom: 35vh;
}

.groundDay {
	border-top: 4px solid #65D96B;
	background: #43B749;
	padding-top: 32px;
	padding-bottom: 32px;
}

.groundDayTiles {
	background:url('/assets/tiles.png') repeat-x;
	height: 149px;
	margin-top: -22px;
}

.homeTitle, .homeSubtitle {
	font-family: 'Press Start 2P', sans-serif;
	color: #EEE;
	text-shadow: -1px 1px #111, -2px 2px #111, -3px 3px #111;
}

.homeTitle {
	font-size: 42px; font-size: 4.2rem;
}

.homeSubtitle {
	font-size: 20px; font-size: 2.0rem;
	display: block;
	padding-top: 8px;
}
.homeSubSubtitle {
	display: block; margin-top: 8px;
}
.image-center img {
  margin: 0 auto;
  text-align: center;
  padding: 16px 8px;
}

.mainBody {
	margin-top: 50px;
}

.meta {
  font-size: 16px; font-size: 1.6rem;
}

.post-content {
	padding-top: 40px;
}

.fadein {
	animation: fadein 1s;-moz-animation: fadein 1s; /* Firefox */-webkit-animation: fadein 1s; /* Safari and Chrome */-o-animation: fadein 1s; /* Opera */
}
.pull-center {
	text-align: center;
	margin: 0 auto;
}

/*Bootstrap rewrite */
.pagination {
	font-family: 'Press Start 2P', 'Fira Sans Bold', 'Copperplate', 'Copperplate Gothic Light', 'Open Sans', Arial, sans-serif; text-shadow: -1px 1px #F92672, -2px 2px #F92672; text-transform: uppercase;
}
.pagination>li>a, .pagination>li>span{
	color: #FE2 !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	cursor: pointer !important;
	background: #43B749 !important;
	border: 1px solid #32A638;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	color: #999 !important;
	text-shadow: -1px 1px #333, -2px 2px #333 !important;
}

@media (min-width: 768px) {.modal-dialog {width: 90% !important;}}
