---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes move-right {
  0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-2048px, 0, 0);
      }
}

@keyframes fadeInSlideUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

.hero {
    overflow: hidden;
}

/* Create a pseudo-element for the first background layer */
.hero::before {
    content: "";
    /* Set the first background image */
    background: url('/assets/img/bg/scroll_bg_far.png') bottom center repeat-x;

    /* Set the position to absolute to position the background layer */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Set the initial layer size, adjust as needed */
    width: calc(2048px * 3);
    height: 100%;
    /* Set the initial animation properties */
    animation: move-right 180s linear infinite;
  }

  /* Create a pseudo-element for the second background layer */
  .hero::after {
    content: "";
    /* Set the second background image */
      background: url('/assets/img/bg/hills-scroll.png') bottom center repeat-x;

      /* Set the position to absolute to position the background layer */
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    /* Set the initial layer size, adjust as needed */
      width: calc(2048px * 3);
    height: 100%;
  }

/*@media (prefers-color-scheme: dark) {*/
/*    .hero {*/
/*        background: #151919;*/
/*    }*/
/*    .hero::before {*/
/*        filter: brightness(0.12);*/
/*    }*/
/*    .hero::after {*/
/*        filter: brightness(0.12);*/
/*    }*/
/*}*/