<!-- Modal -->
<div class="modal fade" id="{{include.modal-id}}" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal-title">{{include.modal-title}}</h4>
      </div>
      <div class="modal-body">

          <p>
            <a href="{{include.img-full}}"><img class="img-responsive" src="{{include.modal-src}}" alt="{{include.modal-alt}}" title="{{include.modal-title}}"/></a>
          </p>
          <br />
          <p>
            {{include.modal-content}}
          </p>
          <p class="text-center">
            <a href="{{include.img-full}}" class="btn btn-primary btn-lg">View Full Image</a>
          </p>
      </div>
    </div>
  </div>
</div>
