.skyDay {
	background-color: $blue;
	background-image: url(/assets/bg.png);
	background-attachment: fixed;
	background-position: center center;
	padding-top: 100px;
  	padding-top: 35vh;
	padding-bottom: 100px;
  	padding-bottom: 35vh;
}

.groundDay {
	border-top: 4px solid #65D96B;
	background: #43B749;
	padding-top: 32px;
	padding-bottom: 32px;
}

.groundDayTiles {
	background:url(/assets/tiles.png) repeat-x;
	height: 149px;
	margin-top: -22px;
}