h1,h2,h3,h4,h5,h6, .logo, .homeTitle {
	@extend .text-uppercase;
	color: $yellow;
	text-shadow: 
				0 1px $red,
				0 2px $red,
				0 3px $red,
				0 4px $red,
				0 5px $red;
}
.navbar-brand {
	color: $yellow !important;
}
.logo, .homeTitle {
	font-family: $headings-font-family;
	color: $yellow;
}
