h1,h2,h3,h4,h5,h6, .logo {
	@extend .text-uppercase;
	color: $yellow;
	text-shadow: 
				0 1px $purple,
				0 2px $purple,
				0 3px $purple,
				0 4px $purple,
				0 5px $purple;
}

.logo {
	font-family: $headings-font-family;
	font-size: $h1-font-size;
	color: $yellow;
	a {
		color: $yellow;
	}
}