$white: #FEFEFE;
$black: #111;

$red:     #FB2700;
$pink:    #FFA6B2;
$orange:  #FF7500;
$yellow:  #FDB500;
$green:   #53B233;
$cyan:    #61EFF4;
$blue: 	  #3B4279;
$purple:  #9C338B;

$enable-rounded: false;

$font-family-sans-serif: 'Quicksand', sans-serif;
$headings-font-family: 'Press Start 2P', monospace;
$headings-line-height: $line-height-base;
$hr-border-width: 2px;

