---
layout: default
title: "Blog"
description: A blog that is used as a resource for web development and game development tips and tricks. As well as a log of any recent projects.
---
<div class="container mainBody fadein">
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% for post in paginator.posts %}
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <p class="date">{{ post.date | date: "%-d %B %Y" }}</p>
          </div>
          <div class="col-xs-6">
            <p class="meta text-right">Posted by <a href="https://plus.google.com/u/0/111804847061500742496?rel=author">Ollie Reardon</a></p>

          </div>
        </div>

        <div class="content">
          {{ post.content }}
          <hr>
        </div>
      {% endfor %}
      {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

    </div>
  </div>
</div>
