---
layout: default
title: "Blog"
description: A blog that is used as a resource for web development and game development tips and tricks. As well as a log of any recent projects.
---
<div class="container mainBody fadein">
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% for post in paginator.posts %}
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <p class="date">{{ post.date | date: "%-d %B %Y" }}</p>
          </div>
          <div class="col-xs-6">
            <p class="meta text-right">Posted by <a href="https://plus.google.com/u/0/111804847061500742496?rel=author">Ollie Reardon</a></p>

          </div>
        </div>

        <div class="content">
          {{ post.content }}
          <hr>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-xs-12 pull-center">
          <ul class="pagination ">
            {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i> Prev</a></li>
            {% else %}
              <li class="disabled"><span>Prev</span></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
              {% elsif page == 1 %}
                <li><a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
              {% else %}
                <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next <i class="fa fa-chevron-right"></i></a></li>
            {% else %}
              <li class="disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
