---
layout: default
title: "Portfolio"
description: A collection of years worth of industry and academic experience from web development for creating e-commerce websites, assignment work and to making different game concepts.
---
<div class="container mainBody fadein">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <h2 class="text-center">Industry Portfolio</h2>

      <div class="row">
        <div class="col-md-4">
          <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry1">
            <div class="img-thumbnail">
              <img src="/assets/portfolio/industry/d2h.png" class="img-fluid" alt="Devoted2Home Redesign Screenshot" title="Devoted2Home Redesign Screenshot"/>
              <p class="text-center">
                Devoted2Home Redesign
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry2">
            <div class="img-thumbnail">
              <img src="/assets/portfolio/industry/bmc.png" class="img-fluid" alt="Big Mouth Clothing Screenshot" title="Big Mouth Clothing Screenshot"/>
              <p class="text-center">
                Big Mouth Clothing
              </p>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry3">
            <div class="img-thumbnail">
              <img src="/assets/portfolio/industry/tanqueray.png" class="img-fluid" alt="#TANQUERAYTHURSDAYS Tanqueray Promotion" title="#TANQUERAYTHURSDAYS Promotion"/>
              <p class="text-center">
                #TANQUERAYTHURSDAYS
              </p>
            </div>
          </a>
        </div>
      </div>

      <h2 class="text-center">University Portfolio</h2>

      <p class="text-center">
        <strong>Coming Soon!</strong>
      </p>

      <h2 class="text-center">Open Source Portfolio</h2>

      <p class="text-center">
        <strong>Coming Soon!</strong>
      </p>

      <p>
        If you are impressed with my top picks of my recent portfolio work but would like to see more of my previous work then please feel free to visit my <a href="/contact/">contact page</a> and request more of my portfolio work.
      </p>
    </div>
  </div>
</div>
{%include modal.html modal-id="industry1" modal-title="Devoted2Home" modal-src="/assets/portfolio/industry/d2h.png" img-full="/assets/portfolio/industry/full/d2h.png" modal-alt="Screenshot of Devoted2Home redesign homepage" modal-title="Devoted2Home Redesign" modal-content="One of the last projects I worked on at Rapid Web was to redesign an existing ecommerce website. I was given the PSD to template into a fully responsive Bootstrap website. I ensured that while I was laying out the template that it could be reused for other future ecommerce projects as common ecommerce pages such as a product page all have similar layouts, for example, the images are always near the left handside of the screen while the product information is usually on the right hand side."%}

{%include modal.html modal-id="industry2" modal-title="Big Mouth Clothing" modal-src="/assets/portfolio/industry/bmc.png" img-full="/assets/portfolio/industry/full/bmc.png" modal-alt="Screenshot of BMC Listings page" modal-title="BMC Listings page" modal-content="The Big Mouth Clothing website was one of the first and last projects I had worked on during my placement year. It is the main site for Rapid Web's sister company, Big Mouth Clothing. One of the main aspects I worked on was the listing page, especially the filtering products by a single or multiple colours."%}

{%include modal.html modal-id="industry3" modal-title="#TANQUERAYTHURSDAYS" modal-src="/assets/portfolio/industry/tanqueray.png" img-full="/assets/portfolio/industry/full/tanqueray.png" modal-alt="Screenshot of Tanqueray homepage" modal-title="Tanqueray" modal-content="I created this page for a website that was running a promotion for Tanqueray gin. I also handled updating the website each week when a new featured bar was selected. The promotion ran over the summer for 10 entire weeks."%}
