---
layout: default
title: "Portfolio"
---
<div class="container mainBody fadein">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
    <p>During my time studying at University, I have worked on many different projects during term time and during my placement year at <a href="http://www.rapidweb.biz">Rapid Web Ltd</a>.</p>
    <p>
      On this page I have showcased my top 3 favourite pieces of work that have worked on for University Assignments or during my work placement. I do also wish to look over and display some of my past personal projects some time in the future as a way of showing experiences in fields that don't necessarily crop up during university assignments or during work hours.
    </p>
    <div class="col-xs-12">
      <h2 class="text-center">Industry Portfolio</h2>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry1">
        <div class="img-thumbnail">
          <img src="/assets/portfolio/industry/d2h.png" class="img-responsive" alt="Devoted2Home Redesign Screenshot" title="Devoted2Home Redesign Screenshot"/>
          <p class="text-center">
            Devoted2Home Redesign
          </p>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry2">
        <div class="img-thumbnail">
          <img src="/assets/portfolio/industry/bmc.png" class="img-responsive" alt="Big Mouth Clothing Screenshot" title="Big Mouth Clothing Screenshot"/>
          <p class="text-center">
            Big Mouth Clothing
          </p>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#industry3">
        <div class="img-thumbnail">
          <img src="/assets/portfolio/industry/tanqueray.png" class="img-responsive" alt="#TANQUERAYTHURSDAYS Tanqueray Promotion" title="#TANQUERAYTHURSDAYS Promotion"/>
          <p class="text-center">
            #TANQUERAYTHURSDAYS
          </p>
        </div>
      </a>
    </div>

    <div class="col-xs-12">
      <h2 class="text-center">University Portfolio</h2>
    </div>
    <p class="text-center">
      Coming Soon!
    </p>
<!--
    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#university1">
        <div class="img-thumbnail">
          <img src="http://placehold.it/250x250" class="img-responsive" alt="Placeholder Image" title="Placeholder Image"/>
          <p class="text-center">
            Pairs! Card Game
          </p>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#university2">
        <div class="img-thumbnail">
          <img src="http://placehold.it/250x250" class="img-responsive" alt="Placeholder Image" title="Placeholder Image"/>
          <p class="text-center">
            HTML5 Canvas Game
          </p>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="link-unstyled" data-toggle="modal" data-target="#university3">
        <div class="img-thumbnail">
          <img src="http://placehold.it/250x250" class="img-responsive" alt="Placeholder Image" title="Placeholder Image"/>
          <p class="text-center">
            CSS Zen Garden
          </p>
        </div>
      </a>
    </div>
    <p>
      <strong>Please note:</strong> There is no live demo for each of my unviersity projects currently as I am in the process of making the source code open and freely avaiable to other developers.
    </p>!-->
    <p>
      If you are impressed with my top picks of my recent portfolio work but would like to see more of my previous work then please feel free to visit my <a href="/contact/">contact page</a> and request more of my portfolio work.
    </p>
  </div>
</div>
{%include modal.html modal-id="industry1" modal-title="Devoted2Home" modal-src="/assets/portfolio/industry/d2h.png" img-full="/assets/portfolio/industry/full/d2h.png" modal-alt="Screenshot of Devoted2Home redesign homepage" modal-title="Devoted2Home Redesign" modal-content="One of the last projects I worked on at Rapid Web was to redesign an existing ecommerce website. I was given the PSD to template into a fully responsive Bootstrap website. I ensured that while I was laying out the template that it could be reused for other future ecommerce projects as common ecommerce pages such as a product page all have similar layouts, for example, the images are always near the left handside of the screen while the product information is usually on the right hand side."%}

{%include modal.html modal-id="industry2" modal-title="Big Mouth Clothing" modal-src="/assets/portfolio/industry/bmc.png" img-full="/assets/portfolio/industry/full/bmc.png" modal-alt="Screenshot of BMC Listings page" modal-title="BMC Listings page" modal-content="The Big Mouth Clothing website was one of the first and last projects I had worked on during my placement year. It is the main site for Rapid Web's sister company, Big Mouth Clothing. One of the main aspects I worked on was the listing page, especially the filtering products by a single or multiple colours."%}

{%include modal.html modal-id="industry3" modal-title="#TANQUERAYTHURSDAYS" modal-src="/assets/portfolio/industry/tanqueray.png" img-full="/assets/portfolio/industry/full/tanqueray.png" modal-alt="Screenshot of Tanqueray homepage" modal-title="Tanqueray" modal-content="I created this page for a website that was running a promotion for Tanqueray gin. I also handled updating the website each week when a new featured bar was selected. The promotion ran over the summer for 10 entire weeks."%}
