<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.name }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="Oliver Reardon">
  <link rel="stylesheet" href="/assets/css/style.min.css">
  <link rel="icon" href="/favicon.ico">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-center text-uppercase" href="/">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/skills/">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio/">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      {{ content }}
      <footer class="bg-dark text-white pt-5 pb-3 mt-5">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 recent-posts">
              <h3 class="heading">Recent Blog Posts</h3>
              <ul class="list-unstyled posts">
                {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-sm-5 contact-me text-center">
              <h3 class="heading text-center">Contact Me</h3>
              <p><a href="//twitter.com/ojdon" target="_blank" rel="noopener"><span class="social-icon twitter">TWITTER</span></a></p>
              <p><a href="//plus.google.com/111804847061500742496" target="_blank" rel="noopener"><span class="social-icon googleplus">GOOGLE+</span></a></p>
              <p><a href="//github.com/ojdon" target="_blank"  rel="noopener"><span class="social-icon github">GITHUB</span></a></p>
            </div>
          </div>
          <p class="text-center">Ollie Reardon - {{ site.time | date: '%Y' }}</p>
        </div>

      </footer>
      <script>WebFontConfig={google:{families:["Lato:300,400:latin","Press+Start+2P::latin"]}},function(){var t=document.createElement("script");t.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js",t.type="text/javascript",t.async="true";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56805175-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script defer src="/assets/js/scripts.min.js"></script>
    </body>
    </html>
