---
layout: default
---
<div class="container">
	<div class="col-xs-12 post-content">
		<h2>{{ page.title }}</h2>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<p class="date">{{ page.date | date: "%-d %B %Y" }}</p>
			</div>
			<div class="col-xs-6">
				<p class="meta text-right">Posted by <a href="https://plus.google.com/u/0/111804847061500742496?rel=author">Ollie Reardon</a></p>

			</div>
		</div>
		<div class="post">
			{{ content }}
			<hr>
			<p>Join the discussion! Contact me via <a href="https://twitter.com/ojdon">Twitter</a> or <a href="https://plus.google.com/u/0/111804847061500742496?rel=author">Google+</a></p>
			<p>Found this post useful? Please consider donating via Bitcoin: 3B4rDt2esKpC8XecYH3zNVdx5gFPV9cYan</p>
		</div>
	</div>
</div>
